html, body, ul { padding: 0; margin: 0; }
body { font-family: Inconsolata, monospace; line-height: 1.5; }
a, a:visited, a:hover, a:active { color: blue; }

nav {  box-sizing: border-box; padding: 15px 20px; }
nav li { display: inline; margin-right: 10px; }
main { box-sizing: border-box; padding: 20px; }

.books { overflow-x: scroll; overflow-y: hidden; white-space: nowrap; -webkit-overflow-scrolling: touch; }
.books::-webkit-scrollbar { display: none; }
.books img { display: inline-block; height: 160px; margin-right: 20px; margin-bottom: 20px; }

body.inverse { background-color: #0A0A1F; color: #CCC; }
body.inverse a,
body.inverse a:visited,
body.inverse a:hover,
body.inverse a:active { color: skyblue; }

/*
    286      =  30mm
    P4 478   =  35mm
    386      =  37mm
    486 + OD =  45mm
    Pentium  =  50mm
    PODP     =  50mm
    P3       =  50mm
    8086     =  52mm
    P4 423   =  54mm
    Pent S4  =  55mm
    PODP 133 =  55mm
    PPro     =  68mm
    P II OD  =  82mm
    P II/III = 125mm
    P II     = 139mm
*/

body.inverse .scroll { overflow-x: scroll; overflow-y: hidden; white-space: nowrap; -webkit-overflow-scrolling: touch; }
body.inverse .scroll::-webkit-scrollbar { display: none; }
body.inverse .scroll img { display: inline-block; }
body.inverse .scroll img.w30 { width: 135px; }
body.inverse .scroll img.w35 { width: 160px; }
body.inverse .scroll img.w37 { width: 170px; }
body.inverse .scroll img.w45 { width: 205px; }
body.inverse .scroll img.w50 { width: 225px; }
body.inverse .scroll img.w52 { width: 235px; }
body.inverse .scroll img.w55 { width: 250px; }
body.inverse .scroll img.w68 { width: 305px; }
body.inverse .scroll img.w82 { width: 370px; }
body.inverse .scroll img.w125 { width: 585px; }
body.inverse .scroll img.w139 { width: 625px; }
