body { font-family: Inconsolata, monospace; box-sizing: border-box; width:640px; margin:0; padding-left: 40px; padding-right: 40px; line-height: 1.5; }
a, a:visited, a:hover, a:active { color: blue; }
ul { padding: 0; margin: 0; }
li { display: inline; }
.books img { height: 160px; margin-right: 20px; margin-bottom: 20px; }
.meuseum { position: absolute; left:0; width: 100%; background-color: black; color: white; }
.meuseum ul { box-sizing: border-box; width:640px; padding:0 40px; }